<header class="header">
    <div class="bg-dark">
        <div class="row">
            <div class="col-3">
                <h1 class="display-4 text-white">TodoList</h1>
            </div>
            <div class="col-1 d-flex align-items-center">
                <a routerLink="/" class="text-white mt-3">Home</a>
            </div>
            <div class="col-1 d-flex align-items-center">
                <a routerLink="/about" class="text-white mt-3">About</a>
            </div>
        </div>
    </div>
</header>